apiVersion: v1
kind: ServiceAccount
metadata:
  name: deploy-account
  namespace: "{{ k8s_namespace }}"
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: deploy-role
  namespace: "{{ k8s_namespace }}"
rules:
  # lists of all apiGroups and resources the deploy account might need to create or update
  - apiGroups:
      - ""
      - apps
      - extensions
    resources:
      - configmaps
      - deployments
      - ingresses
      - persistentvolumeclaims
      - pods
      - replicasets
      - secrets
      - services
      - statefulsets
    verbs: ["*"]
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: deploy-role-binding
  namespace: "{{ k8s_namespace }}"
subjects:
  - kind: ServiceAccount
    name: deploy-account
    namespace: "{{ k8s_namespace }}"
roleRef:
  kind: Role
  name: deploy-role
  apiGroup: rbac.authorization.k8s.io
