apiVersion: v1
kind: ServiceAccount
metadata:
  name: deploy-account
  namespace: "{{ k8s_namespace }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: deploy-account-secret
  namespace: "{{ k8s_namespace }}"
  annotations:
    kubernetes.io/service-account.name: deploy-account
type: kubernetes.io/service-account-token
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: deploy-role
  namespace: "{{ k8s_namespace }}"
rules:
  # lists of all apiGroups and resources the deploy account might need to create or update
  - apiGroups:
      - ""
      - apps
      - batch
      - cert-manager.io
      - extensions
      - networking.k8s.io
    resources:
      - certificates
      - configmaps
      - deployments
      - ingresses
      - jobs
      - persistentvolumeclaims
      - pods
      - replicasets
      - secrets
      - services
      - statefulsets
    verbs: ["*"]
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: deploy-role-binding
  namespace: "{{ k8s_namespace }}"
subjects:
  - kind: ServiceAccount
    name: deploy-account
    namespace: "{{ k8s_namespace }}"
roleRef:
  kind: Role
  name: deploy-role
  apiGroup: rbac.authorization.k8s.io
