---
apiVersion: v1
kind: Service
metadata:
  name: elasticsearch-loadbalancer
  labels:
    app: elasticsearch
  namespace: "{{ k8s_namespace }}"
spec:
  selector:
    app: es-cluster
  ports:
  - name: http
    port: 80
    targetPort: 9200
  type: LoadBalancer