apiVersion: v1
kind: Secret
metadata:
  name: registry-secret
  namespace: "{{ k8s_namespace }}"
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: "{{ k8s_dockerconfigjson | to_json | b64encode }}"
