apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: beatvolume-claim
  namespace: "{{ k8s_namespace }}"
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "celery-beat"
  namespace: "{{ k8s_namespace }}"
spec:
  selector:
    matchLabels:
      app: "celery-beat"
  replicas: 1
  template:
    metadata:
      labels:
        app: "celery-beat"
    spec:
      containers:
      - name: "celery-beat"
        image: "{{ k8s_worker_container["image"] }}:{{ k8s_worker_container["tag"] }}"
        imagePullPolicy: IfNotPresent
        args: ["celery", "--app={{ k8s_worker_container["celery_app"] }}", "beat", "--workdir=/code", "--loglevel=info", "--pidfile=/data/beat.pid", "--schedule=/data/schedulefile.db"]
        env:
        - name: GET_HOSTS_FROM
          value: dns
        - name: PYTHONPATH
          value: .
        envFrom:
        - secretRef:
            name: "celery-secrets"
        volumeMounts:
          - mountPath: /data
            name: beatvolume
        resources: {{ k8s_worker_container["resources"] | to_json }}
      volumes:
        - name: beatvolume
          persistentVolumeClaim:
            claimName: beatvolume-claim
